<div class="container">
  <!-- Header card -->
  <div class="header-card mat-elevation-z2">
    <div class="header-card-content">
      <!-- Left: title -->
      <h1>Organizers</h1>

      <!-- Right: search + new organizer -->
      <div class="actions-container">
        <mat-form-field class="search-field" appearance="fill" floatLabel="always">
          <mat-label>{{ 'PRODUCTS.SEARCH_PLACEHOLDER' | translate }}</mat-label>
          <input
            matInput
            [placeholder]="'Name or description...'"
            (keyup.enter)="request.paging.page = 1; loadPagedData()"
            [(ngModel)]="request.search"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onCreate()">
          <mat-icon>add</mat-icon>
          New organizer
        </button>
      </div>
    </div>

    <div class="filter-bar">
      <mat-form-field class="filter-field" appearance="fill" floatLabel="always">
        <mat-label>City</mat-label>
        <mat-select
          [(ngModel)]="request.city"
          [placeholder]="'All cities'"
          (selectionChange)="onFilterChange()">
          <mat-option [value]="null">All cities</mat-option>
          @for (city of cities; track city.id) {
            <mat-option [value]="city.name">{{ city.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filter-field" appearance="fill" floatLabel="always">
        <mat-label>E-Mail</mat-label>
        <input
          matInput
          [placeholder]="'Part of the e-mail...'"
          [(ngModel)]="request.email"
          (keyup.enter)="onFilterChange()"
        />
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>

      <mat-form-field class="filter-field" appearance="fill" floatLabel="always">
        <mat-label>Events</mat-label>
        <mat-select
          [(ngModel)]="request.hasEvents"
          [placeholder]="'All organizers'"
          (selectionChange)="onFilterChange()">
          <mat-option [value]="null">All organizers</mat-option>
          <mat-option [value]="true">With events</mat-option>
          <mat-option [value]="false">Without events</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-stroked-button
        class="clear-filters-button"
        [disabled]="!hasActiveFilters"
        (click)="onClearFilters()"
      >
        <mat-icon>filter_alt_off</mat-icon>
        <span>Clear filters</span>
      </button>
    </div>
  </div>

  <!-- Loading / error -->
  <div *ngIf="isLoading" class="loading">
    {{ 'PRODUCTS.LOADING' | translate }}
  </div>

  <div *ngIf="!isLoading && errorMessage" class="error">
    {{ errorMessage }}
  </div>

  <div class="mat-elevation-z8" *ngIf="!isLoading && !errorMessage">
    <table mat-table [dataSource]="items">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let organizer">
          <span style="font-weight: 500">{{ organizer.name }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let organizer">
          {{ organizer.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="cityName">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let organizer">
          {{ organizer.cityName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="emailAddress">
        <th mat-header-cell *matHeaderCellDef>E-Mail</th>
        <td mat-cell *matCellDef="let organizer">
          {{ organizer.emailAddress }}
        </td>
      </ng-container>


      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{ 'PRODUCTS.TABLE.ACTIONS' | translate }}</th>
        <td mat-cell *matCellDef="let product">
          <button
            mat-icon-button
            color="primary"
            (click)="onEdit(product)"
            [matTooltip]="'Edit Organizer'"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="onDelete(product)"
            [matTooltip]="'Delete Organizer'"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="[
          'name',
          'description',
          'cityName',
          'emailAddress',
          'actions'
        ]"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: [
          'name',
          'description',
          'cityName',
          'emailAddress',
          'actions'
        ]
        "
      ></tr>

      <!-- No data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">
          <ng-container *ngIf="hasActiveFilters; else noDataDefault">
            {{ 'PRODUCTS.NO_DATA_FILTER' | translate }}
          </ng-container>
          <ng-template #noDataDefault>
            {{ 'PRODUCTS.NO_DATA' | translate }}
          </ng-template>
        </td>
      </tr>
    </table>

    <app-fit-paginator-bar [vm]="this"></app-fit-paginator-bar>
  </div>
</div>
