<header class="navbar">
    <div class="navbar__container">
      <div class="navbar__logo" routerLink="/">TicketHandler</div>
      <nav class="navbar__nav">
        <a href="#">Concerts</a>
        <a href="#">Sport</a>
        <a href="#">Theater</a>
        <a href="#">Other</a>
      </nav>
      <div class="navbar__actions">
        <a class="sell">Sell your tickets</a>
        <mat-icon>person_outline</mat-icon>
        @if (currentUser(); as user) {
          <button type="button" class="auth-link user-menu" [matMenuTriggerFor]="userMenu">
            <span class="user-menu__email">{{ user.email }}</span>
            <mat-icon class="user-menu__caret">expand_more</mat-icon>
          </button>

          <mat-menu #userMenu="matMenu" xPosition="before">
            <a mat-menu-item [routerLink]="profileRoute()">
              <mat-icon>account_circle</mat-icon>
              <span>Profile</span>
            </a>
            <button mat-menu-item type="button" (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        } @else {
          <a class="auth-link" routerLink="/auth/login">Login / Register</a>
        }
      </div>
    </div>
  </header>