<div class="container">

  <div class="header-card mat-elevation-z2">
    <h1>Add Organizers</h1>
  </div>

  <div class="form-card mat-elevation-z2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngIf="errorMessage" class="error-banner">
        <mat-icon>error</mat-icon>
        <span>{{ errorMessage }}</span>
      </div>

      <div *ngIf="isLoading" class="loading-overlay">
        <mat-spinner diameter="50"></mat-spinner>
        <p>Saving organizer</p>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>First Name</mat-label>
        <input
          matInput
        formControlName="firstName"
        [placeholder]="'John/Jane'"/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          formControlName="lastName"
          [placeholder]="'Doe'"/>
      </mat-form-field>

      <mat-form-field  appearance="outline" class="full-width">
        <mat-label>Birth date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </div>
</div>
