<div class="landing-page">
<header class="navbar">
  <div class="navbar__container">
    <div class="navbar__logo" routerLink="/">
      TicketHandler
    </div>

    <nav class="navbar__nav">
      <a href="#">Concerts</a>
      <a href="#">Sport</a>
      <a href="#">Theater</a>
      <a href="#">Other</a>
    </nav>

    <div class="navbar__actions">
      <a class="sell">Sell your tickets</a>
      <mat-icon>person_outline</mat-icon>
      <a href="#" class="auth-link" routerLink="/auth/login">Login/Register</a>
    </div>
  </div>
</header>

<app-landing-page-search></app-landing-page-search>
</div>