<div class="panel">
    <h3 class="panel__title">Venue Location</h3>
    <div class="panel__box">
        <google-map
            *ngIf="isMapLoaded"
            [center]="center"
            [zoom]="zoom"
            [options]="mapOptions"
            class="map"
        >
            <map-advanced-marker
                *ngIf="markerPosition"
                [position]="markerPosition"
                [title]="address || ''"
            />
        </google-map>

        <p *ngIf="isMapLoaded && geocodeFailed" class="panel__hint">
            Couldn't pinpoint this location on the map.
        </p>
    </div>
</div>
